.broker-details div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: .5rem;
}

.ios .broker-details ion-card ion-avatar img {
  max-width: 14rem;
  max-height: 14rem;
  border-radius: 50%;
}

.broker-details ion-avatar img {
  display: inline;
}

.broker-details ion-card > ion-item {
  background-color: #387ef5;

}

.broker-details ion-card > ion-item h2 {
  font-size: 2.5rem;
  margin-top: .5rem;
  color: white;
}

.broker-details ion-card > ion-item h3 {
  font-size: 1.8rem;
  color: white;
}